asgiref==3.3.1
buffer==0.2.1
colorama==0.4.4
Django==3.1.5
django-admin-interface==0.15.3
django-colorfield==0.4.1
django-crispy-forms==1.11.2
django-filter==2.4.0
django-flat-responsive==2.0
django-flat-theme==1.1.4
djangorestframework==3.12.4
find==2020.12.3
mysqlclient==2.0.3
Pillow==8.1.0
pytz==2020.5
qrcode==6.1
six==1.15.0
sqlparse==0.4.1
wrapt==1.11.2