{% extends "base.html" %}
{% block title %} Administradores | Carnet TecNM {% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% block js %}
<script type="text/javascript">
    function deleteAdministrators(id) {
        console.log(id);
        Swal.fire({
                "title": "¿Seguro(a) que desea eliminar este(a) administrador(a)?",
                "text": false,
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, cancelar",
                "confirmButtonText": "Si, confirmar",
                "reverseButtons": true,
                "confirmButtonColor": "#dc3545"
            })
            .then(function(result) {
                if (result.isConfirmed) {
                    window.location.href = "/delete-administrators/" + id + "/"
                }
            })
    }
</script>
{% endblock %}
{% load static %}
<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-2">
                        <a href="#" class="btn btn-primary mb-3" style="background: #052947; border-color: #0f4471" data-toggle="modal" data-target="#addModal">Agregar nuevo <i class="fas fa-plus ml-1"></i></a>
                    </div>
                    <div class="col-12 col-lg-10">
                        <form action="" method="get" class="mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar usuario" name="buscar" value="{{ request.GET.buscar }}">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" style="background: #052947; border-color: #0f4471" type="submit"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive-xl">
                            <table class="table table-sm table-hover table-condensed">
                                <tr style="background-color: #052947; color: #ffffff;">
                                    <td class="align-middle pl-3" style="width: 100px; min-width: 100px;">Perfil</td>
                                    <td class="align-middle">Usuario</td>
                                    <td class="align-middle">Nombre(s)</td>
                                    <td class="align-middle">Apellidos</td>
                                    <td class="align-middle">Correo</td>
                                    <td class="text-center align-middle" style="width: 80px; min-width: 80px">Activo</td>
                                    <td class="text-center align-middle" style="width: 80px; min-width: 80px">Staff</td>
                                    <td class="text-center align-middle" style="width: 135px; min-width: 135px;">Acciones</td>
                                </tr>

                                {% for a in administrators %}
                                <tr>
                                    {% if a.img == "" %}
                                        <td class="align-middle pl-3"><img src="{% static 'images/default-user.png' %}" alt="Sin foto de perfil" style="width: auto; height: 50px; border-radius: 50%;"></td>
                                    {% elif a.img != "" %}
                                        <td class="align-middle pl-3"><img src="{% static 'media/' %}{{ a.img }}" alt="{{ a.img }}" style="width: auto; height: 50px; border-radius: 50%;"></td>
                                    {% endif %}
                                    <td class="align-middle">{{ a.username }}</td>
                                    <td class="align-middle">{{ a.first_name }}</td>
                                    <td class="align-middle">{{ a.last_name }}</td>
                                    <td class="align-middle">{{ a.email }}</td>
                                    {% if a.user_active is True %}
                                        <td class="text-center align-middle"><span class="badge badge-pill badge-success"><i class="far fa-check-circle"></i></span></td>
                                    {% elif a.user_active is False %}
                                        <td class="text-center align-middle"><span class="badge badge-pill badge-danger"><i class="far fa-times-circle"></i></span></td>
                                    {% endif %}
                                    {% if a.user_admin is True %}
                                        <td class="text-center align-middle"><span class="badge badge-pill badge-success"><i class="far fa-check-circle"></i></span></td>
                                    {% elif a.user_admin is False %}
                                        <td class="text-center align-middle"><span class="badge badge-pill badge-danger"><i class="far fa-times-circle"></i></span></td>
                                    {% endif %}
                                    <td class="align-middle">
                                        <a href="{% url 'edit-administrators' a.id %}" class="btn btn-warning btn-sm">Editar</a>
                                        <a href="#" onclick="deleteAdministrators('{{ a.id }}')" class="btn btn-danger btn-sm">Eliminar</a>
                                    </td>
                                </tr>
                                {% empty %}
                                    <tr>
                                        <td class="text-center align-middle" colspan="5">Sin registros</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% include "exhibitor/paginator.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Agregar nuevo(a) conferencista</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %} {{ form | crispy }}
                    <div class="d-flex justify-content-end mt-3">
                        <button type="button" class="btn btn btn-outline-dark mr-1" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary ml-1" style="background: #052947; border-color: #0f4471">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}