{% extends "base.html" %} 
{% block title %} Alumnos | Carnet TecNM {% endblock %}

{% block content %} 
{% load crispy_forms_tags %} 
{% block js %}
<script type="text/javascript">
    function eliminarAlumno(id) {
        console.log(id);
        Swal.fire({
            "title": "¿Seguro(a) que desea de eliminar este(a) alumno(a)?",
            "text": false,
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText": "No, cancelar",
            "confirmButtonText": "Si, confirmar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545"
        })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/eliminar-alumno/" + id + "/"
                }
            })
    }
</script>
{% endblock %}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-2">
                        <a href="#" class="btn btn-primary mb-3" style="background: #052947; border-color: #0f4471" data-toggle="modal" data-target="#agregarModal">Agregar nuevo <i class="fas fa-plus ml-1"></i></a>
                    </div>
                    <div class="col-12 col-lg-10">
                        <form action="" method="get" class="mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar número de control" name="buscar" value="{{ request.GET.buscar }}">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" style="background: #052947; border-color: #0f4471" type="submit"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive-xl">
                            <table class="table table-sm table-hover table-condensed table-bordered table-striped">
                                <tr style="background-color: #052947; color: #ffffff;">
                                    <td class="text-center align-middle">No. Control</td>
                                    <td class="text-center align-middle">Nombre(s)</td>
                                    <td class="text-center align-middle">Apellidos</td>
                                    <td class="text-center align-middle">Carrera</td>
                                    <td class="text-center align-middle">Correo</td>
                                    <td class="text-center align-middle" style="width: 180px; min-width: 180px;">Acciones</td>
                                </tr>
                                {% for a in alumno %}
                                <tr>
                                    <td class="align-middle">{{ a.no_control }}</td>
                                    <td class="align-middle">{{ a.nombre }}</td>
                                    <td class="align-middle">{{ a.apellidos }}</td>
                                    <td class="align-middle">{{ a.carrera }}</td>
                                    <td class="align-middle">{{ a.correo }}</td>
                                    <td class="text-center align-middle">
                                        <a href="{% url 'modificar-alumno' a.no_control %}" class="btn btn-warning btn-sm">Modificar</a>
                                        <a href="#" onclick="eliminarAlumno('{{ a.no_control }}')" class="btn btn-danger btn-sm ml-1">Eliminar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% include "alumnos/paginator.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="agregarModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nuevo(a) alumno(a)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %} {{ form | crispy }}
                    <div class="d-flex justify-content-end mt-3">
                        <button type="button" class="btn btn btn-outline-dark mr-1" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary ml-1" style="background: #052947; border-color: #0f4471">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}