@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
:root {
    --primary-font: 'Raleway', 'Open Sans', 'sans-serif';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 16px;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
}

body {
    background-color: #f6f6f6;
}

/* --- BARRA LATERAL --- */
.barra-lateral {
    /* background: #262a34; */
    background: #052947;
    color: #ffffff;
    min-width: 260px;
    min-height: 100vh;
    height: 100%;
    padding: 0;
}

.barra-lateral a {
    color: #ffffff;
}

/* --- LOGO EN MENU --- */
.barra-lateral .logo {
    /* background: #007bff; */
    background: #0f4471;
    padding: 10px;
}

.barra-lateral .logo img {
    width: 200px;
    height: 75px;
}

/* --- MENU DE OPCIONES --- */
.barra-lateral .menu a {
    display: block;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.barra-lateral .menu a:hover {
    background: #3282b8;
    text-decoration: none;
}

/* --- --- MEDIAQUERIES --- --- */
@media screen and (max-width: 1500px) {
    .barra-lateral {
        min-width: auto;
    }
    .barra-lateral .logo {
        display: none;
    }
    .barra-lateral .menu a span {
        display: none;
    }
    .barra-lateral .menu a i {
        margin: 0;
    }
}

@media screen and (max-width: 1100px) {
    .barra-lateral {
        width: 1100px;
        min-height: auto;
        display: flex;
        justify-content: center;
    }
    .barra-lateral .menu a {
        display: inline-block;
        border-bottom: none;
    }
}

@media screen and (max-width: 580px) {
    .barra-lateral {
        width: 580px;
        min-height: auto;
        display: flex;
        justify-content: center;
    }
    .barra-lateral .menu a {
        display: inline-block;
        border-bottom: none;
    }
}

.button-outline {
  color: #052947;
  background-color: transparent;
  border-color: #052947;
}

.button-outline:hover {
  color: #fff;
  background-color: #052947;
  border-color: #052947;
}

.button-outline:focus, .button-outline.focus {
  box-shadow: 0 0 0 0.2rem rgb(5, 41, 71);
}

.button-outline.disabled, .button-outline:disabled {
  color: #fff;
  background-color: #052947;
  border-color: #052947;
}

.button-outline:not(:disabled):not(.disabled):active, .button-outline:not(:disabled):not(.disabled).active,
.show > .button-outline.dropdown-toggle {
  color: #fff;
  background-color: #052947;
  border-color: #052947;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(5, 41, 71);
}